# -----------------------------
# Virtual Environments
# -----------------------------
venv/
.venv/

# -----------------------------
# Python Cache
# -----------------------------
__pycache__/
*.py[cod]

# -----------------------------
# IDE Settings
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Operating System Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Build Outputs
# -----------------------------
build/
dist/

# -----------------------------
# Generated Project Outputs
# -----------------------------
data/processed/

# -----------------------------
# Development sample images
# -----------------------------
data/samples/

# -----------------------------
# Generated outputs
# -----------------------------
data/output/glyphs/*
data/output/pages/*
data/output/writer_profiles/*
data/output/exports/*

# -----------------------------
# Keep folder structure
# -----------------------------
!data/output/glyphs/.gitkeep
!data/output/pages/.gitkeep
!data/output/writer_profiles/.gitkeep
!data/output/exports/.gitkeep

# -----------------------------
# Folder structure file
# -----------------------------
folder_structure.txt